:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --themeColor: #44a4c4;
  --themeColorBright: #2A6174
}

.editorContainer {
  width: 100%;
}

.editor-input {
  border-radius: 8px;
  border: 1px solid white;
  min-height: 50vh;
  resize: none;
  /* font-size: 15px; */
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 0 1em;
  caret-color: #444;
  width: 80%;
  margin: 0 auto;
}

div:has(> .editor-placeholder) {
  display: flex;

}

.editor-placeholder {
  max-width: 50vw;
  color: #999;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  display: flex;
  pointer-events: none;
  padding: 0;
  /* margin: 0 auto; */
  top: -28em;
  left: 12%;
}


* {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: var(--themeColor);
  text-decoration: inherit;
}

a:hover {
  /* color: #535bf2; */
  color: var(--themeColorBright);
}

.addBtn button,
.btn {
  display: flex;
  margin: 0 auto;
  /* background-color: #535bf2; */
  color: var(--themeColorBright);
  align-content: center;
}

.addBtn button:hover,
.btn:hover {
  margin: 0 auto;
  transition: background-color 0.25s;
  background-color: #1a1a1a;
  align-content: center;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 .5em
}

button:hover {
  /* border-color: #646cff; */
  border: var(--themeColor);

}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btnForm {
  margin: 2em auto 0;
  display: flex;

  /* background-color: #535bf2; */
  background-color: var(--themeColorBright);
  align-content: center;
}

.error {
  color: white;
  text-align: center;
  /* background-color: #535bf2; */
  background-color: var(--themeColorBright);
}

footer {
  padding: 1em 0;
  text-align: center;
}

/* form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
} */

/* Header - HERO */
/* Photo by Tony Schnagl: https://www.pexels.com/photo/person-eating-noodles-5588490/ */
/* Photo by Jane Trang Doan: https://www.pexels.com/photo/sliced-egg-on-top-of-green-salad-with-bread-824635/ */
.hero {
  background: url('../public/pexels-janetrangdoan-824635.jpg');
  height: 100vh;
  position: relative;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
}

.hero * {
  z-index: 1;
}

.headerLink {
  /* background-color: #1a1a1a; */
  background-color: lightgray;
  padding: .5em;
  border-radius: 8px;
}

.homeSignup {
  height: 200px;
  padding: 1em;
  margin: 1em auto 0;
  background-color: #1a1a1a;
}

footer {

  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #1a1a1a;
}

.ingredientsFormDiv {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.ingredientsForm {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .ingredientsForm input {
  width: 100px;
} */

.ingredientsFormAmountInput,
.ingredientsFormUnitInput {
  width: 6em;
  margin: 1em;
}

span:has(> .ingredientsFormIngredientInput) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

span:has(> .ingredientsFormIngredientInput)>label {
  margin: 1em
}

.ingredientsFormIngredientInput {
  width: 15em;
  margin: 0 1em;
}

.ingredientListContainer {
  display: flex;
  flex-direction: column;
}

.ingredientDisplays {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25%;
}


.inline-btn {
  margin: .5em;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

li {
  list-style: none;
}



.navbar {
  box-sizing: border-box;
  padding: 1em;
  width: 98vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
}

.navbarTopRight {
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbarTopLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarTopLeft span {
  margin: 0 .5em;
}

.navbarsearchBtn {
  background-color: var(--themeColor);
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}

.navbarsearchBtn:hover {
  background-color: transparent;
  border: 1px solid var(--themeColorBright);
}

.recipeParentParentContainer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
}

.recipeParentContainer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeContainer {
  display: flex;
  width: 400px;
  border-radius: 8px;
  border: 1px solid var(--themeColorBright);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  margin: 1em;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipeMoreDetails {
  display: flex;
  flex-wrap: wrap;

}

.recipeMoreDetails span {
  margin: .2em .2em 0 .2em;
}

.recipeDetailsHealth {
  /* background-color: #535bf2; */
  background-color: var(--themeColorBright);
  padding: .2em .5em;
  border-radius: 8px;
}

.recipeDetailstime {
  font-size: .8em;

}

.recipeLongDetailedContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%; */
  min-width: 70vw;
  padding: 0 3em;
}


.recipeLongDetailedContainerparent {
  justify-content: center;
  display: flex;
  width: 100%;
}

.recipeLongDetailed {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.recipeLongDetailed p {
  margin: 0;
  padding: .5em 0;
}

.recipedetailedingredient span {
  margin: 0;
  padding: 0;

}

.RecipeForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.RecipeForm input:not(input[type='range']) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.RecipeForm label {
  margin: 1em 0;
}

.RecipeFormSelection {

  display: flex;
  flex-direction: column;
  /* width: 97%; */
  max-width: 100%;
  height: 2.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  max-width: 100%;
  height: 1em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
  padding: 0;
}

.slider:hover {
  opacity: 1;

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.1em;
  height: 2.1em;
  ;
  background: #1a1a1a;
  cursor: pointer;
  border-radius: 50%
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1a1a1a;
  cursor: pointer;
  border-radius: 50%
}

.title {
  text-align: center
}

.toolbar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.toolbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.toolbar li {
  margin: 1em;
}

.Toastify__progress-bar {
  background-color: var(--themeColorBright);
}

ul {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  form {
    width: 95vw;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar .navbarTopLeft {
    display: flex;
    flex-direction: column;
  }

  .navbar .navbarTopRight {
    display: flex;
    flex-direction: column;
  }

  .navbar .searchbar {
    display: flex;
    flex-direction: column;
  }
}